name: Cloned-It Deploy

on:
    pull_request:
        branches:
            - develop
            - main
    push:
        branches:
            - develop
            - main

jobs:
    # Run code checks on pull requests
    code_checks:
        if: github.event_name == 'pull_request'
        uses: ./.github/workflows/code-checks.yml

    # Deploy to DEV environment
    deploy_dev_application:
        if: github.event_name == 'push' && github.ref == 'refs/heads/develop'
        uses: ./.github/workflows/deploy-application.yml
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID_DEV }}
          environment: dev
          app_yaml: app-dev.yaml
        secrets:
          gcp_sa_key: ${{ secrets.GCP_SA_KEY_DEV }}

    deploy_dev_functions:
        needs: deploy_dev_application
        if: github.event_name == 'push' && github.ref == 'refs/heads/develop'
        uses: ./.github/workflows/deploy-cloud-functions.yml
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID_DEV }}
          environment: dev
        secrets:
          gcp_sa_key: ${{ secrets.GCP_SA_KEY_DEV }}

    # Deploy to PROD environment
    deploy_prod_application:
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: ./.github/workflows/deploy-application.yml
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID_PROD }}
          environment: prod
          app_yaml: app-prod.yaml
        secrets:
          gcp_sa_key: ${{ secrets.GCP_SA_KEY_PROD }}

    deploy_prod_functions:
        needs: deploy_prod_application
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: ./.github/workflows/deploy-cloud-functions.yml
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID_PROD }}
          environment: prod
        secrets:
          gcp_sa_key: ${{ secrets.GCP_SA_KEY_PROD }}
